.card-product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 53px;
}

.card-product::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 16%);
  border: 3px solid #fff;
  background:
    url('Images/bg/cammo-white.svg'),
    radial-gradient(circle at top right, var(--bg-gray-color), hsla(0, 100% 100%, 0) 50%),
    radial-gradient(circle at bottom left, var(--bg-gray-color), hsla(0, 100% 100%, 0) 50%);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: var(--main-shadow), inset 0 0 50px 0 hsla(0, 0%, 100%, 1);
  content: '';
}

.card-product .image-product {
  position: relative;
  z-index: 0;
}

.card-product .link-order {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
