.stuff--name {
  position: relative;
  z-index: 2;
  overflow: hidden;
  min-width: 10rem;
  max-height: calc(3rem + 4px);
  padding: 0 5px;
  border: 2px solid #fff;
  margin-top: calc(-3rem - 4px);
  background-color: var(--bg-gray-color);
  border-radius: 5px;
  box-shadow: var(--dark-shadow);
  font-family: var(--font-main);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
}
