.stuff--img {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: var(--dark-shadow);
}

.stuff--img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
}
