div(class='timer' id='timer-countdown')
  //- span(class='timer--value' data-timer='days')
  //- span(class='timer--separator') :
  span(class='timer--value' data-timer='hours')
  span(class='timer--separator') :
  span(class='timer--value' data-timer='minutes')
  span(class='timer--separator') :
  span(class='timer--value' data-timer='seconds')