div(class='product-description')
  p(class='product-description--txt').
    Only in Russia can the word "fuck" be used as a synonym for "know'. 
    There's so much to this phrase beyond its direct meaning. 
    It's about accepting the unpredictability of the universe, 
    of the path one's life is taking, it's about unrequited love, and the never-ending pandеmiс
  include ../link-order/link-order.pug
