@import './product-description--txt.css';

.product-description {
  position: relative;
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  padding-bottom: 50px;
  border: 3px solid #fff;
  margin: 0 auto;
  background:
    url('Images/bg/cammo-white.svg'),
    radial-gradient(circle at top right, var(--bg-gray-color), transparent 50%),
    radial-gradient(circle at bottom left, var(--bg-gray-color), transparent 50%);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: var(--main-shadow), inset 0 0 50px 0 hsla(0, 0%, 100%, 1);
}

.product-description .link-order {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
